.destination-item {
  display: flex;
  text-align: left;
  padding-bottom: 10px;

  .left {
    width: 30%;
    margin-top: 0;
    padding-top: 2px;
    p {
      margin: 0;
      padding: 0;
    }
  }

  .list {
    width: 69%;
    li {
      display: block;

      padding: 2px;

      .name {
        color: var(--grey-med);
        font-size: 14px;
        font-weight: 400;
      }

      .address {
        color: var(--grey-light);
        font-size: 8px;
        font-weight: 400;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      max-height: 70px;
      overflow-y: auto;
    }
  }
}
