.home_page {
  padding-top: 0px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 150px;
  text-align: left;
}

h1 {
  color: var(--grey-dark);
  font-size: 20px;
  text-align: center;
}

h2 {
  color: var(--grey-light);
  font-family: monospace;
  font-size: 10px;
  font-weight: 300;
  text-align: left;
}

p {
  color: var(--grey-med);
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.container {
  display: flex;
}

.intro {
  max-width: 550px;
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
}

.left {
  width: 49%;
}

.right {
  width: 50%;
  height: 400px;
  margin-left: auto;
  background-color: #fafafa;
  position: relative;

  h2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  .map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: 9999;
  }
}
