.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 10px);
  margin-right: 10px;
  position: relative;
  z-index: 100;

  .error {
    color: #2b2b2b;
    font-size: 8px;
  }
}

.input-bar {
  display: flex;
  width: 100%;
  position: relative;

  input {
    height: 22px;
    width: 100%;
    padding-right: 20px;
    padding-left: 5px;
    flex: 1;
    color: var(--grey-light);
    box-sizing: border-box;
    font-size: 12px;
  }

  .search-icon {
    color: var(--grey-med);
    font-size: 0.7rem;
    transform: translateX(-150%) translateY(55%);
  }
}
